h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
}

body { overflow-x: hidden; width: 100vw;}

.navbar {
  font-size: 120%;
}

.bebas {
  font-family: "Bebas Neue";
}

.bg-custom {
  background-color: #14202a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#footer{
background-color: #14202a;
}

.footer-text{
  color: #f7f7f7;
}

.button-icon{
    max-width: 50px;
}

.button-icon:hover {
    filter: grayscale(80%);
}

figure{
    text-align: center;
}

figcaption{
    color: #5e5e5e;
}

#footer h5{
    color: #BF4A4A;
}

.bdrbottom{
    border-width:2px !important;
    border-color: #8c1f1f !important;
}

.banner-top{
    background-color: #14202a;
}

.banner-top img{
    max-width: 12%;
    min-width: 10%;
    height: auto;
}

.sticky-offset{
    top: 70px;
    z-index: -1;
}

.review-price{
    float: right;
    padding: 5px 0px 0px 0px;
    color: #8c1f1f;
}

.table{
  font-size: 80%;
}

.btn-custom-red {
    background: #8c1f1f;
}

.btn-custom-red:hover {
    background: #bf4a4a;
}

.card-deck {
    @include media-breakpoint-only(md) {
    column-count: 2;
}
}

/* route stuff */
.flexiboi {
  display: flex;
  border-bottom: 5px solid #8c1f1f;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.route-title > a {
  color: white;
}

.flexinner {
  display: flex;
}

.routecontainer{
  flex-basis: 72%;
  font-size: 0.9rem;
}

.ratingcontainer {
  flex-basis: 28%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 1000px){
  .flexiboi {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .flexiratings {
    display: flex;
    flex-direction: row;
  }

  .routecontainer{
    border-bottom: 1px solid #adb5bd;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .ratingcontainer > .route-title {
    display: none;
  }

  .route-location {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 600px){
  .flexinner{
    flex-direction: column;
  }
  .route-location {
    border-bottom: 1px solid #adb5bd;
  }
  .routecontainer {
    border-bottom: none;
  }
  .route-vitals {
    border-bottom: 1px solid #adb5bd;
    padding-bottom: 0.5rem;
  }
}

.routecontainer > * {
  padding-left: 1rem;
}

.ratingcontainer > * {
  padding-left: 1rem;
}

.route-title{
  grid-area: title;
  background-color: #14202a;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.route-location {
  flex-basis: 65%;
}

.route-vitals {
  flex-basis: 35%;
}

.rating-stars {
  width: 80px;
  height: auto;
}

.thicker{
  display: inline-block;
  width: 80px;
  font-weight: 700;
  padding: 0.05rem;
}

.slider-base {
  margin: 10px 20px 10px 10px;
}

.hide-me {
  display: none;
}
/*
"title title title title title title "
  "region-title region region region"
  "starts-title starts starts starts "
  "distance-title distance ascent-title ascent"
*/