<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Bad Ideas on Bikes</title>
</head>
    <body>
    <div class="banner-top"><img src="{{ url_for('static', filename='BIOB_Dark_Square_SM.jpg') }}" class="mx-auto d-block img-fluid"></div>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-custom mb-4">
        <div class="container">
              <a class="navbar-brand" href="{{ url_for('main.homePage') }}">Bad Ideas On Bikes</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item {% if request.endpoint == 'main.homePage' %} active {% endif %}">
                    <a class="nav-link" href="{{ url_for('main.homePage') }}">Articles <span class="sr-only">(current)</span></a>
                  </li>
                    <li class="nav-item {% if request.endpoint == 'routes.routesPage' %} active {% endif %}">
                    <a class="nav-link" href="{{ url_for('routes.routesPage') }}">Routes</a>
                  </li>
                    <li class="nav-item {% if request.endpoint == 'reviews.reviewPage' %} active {% endif %}">
                    <a class="nav-link" href="{{ url_for('reviews.reviewPage') }}">Reviews</a>
                  </li>
                  <li class="nav-item {% if request.endpoint == 'main.aboutPage' %} active {% endif %}">
                    <a class="nav-link" href="{{ url_for('main.aboutPage') }}">About</a>
                  </li>
                  <li class="nav-item {% if request.endpoint == 'main.linkPage' %} active {% endif %}">
                    <a class="nav-link" href="#">Links</a>
                  </li>
                </ul>
                  <ul class="navbar-nav ml-auto">
                      {% if current_user.is_authenticated %}
                        <li class="nav-item {% if request.endpoint == 'posts.newpostPage' %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for('posts.newpostPage') }}">Post</a>
                        </li>
                          <li class="nav-item ">
                            <a class="nav-link" href="{{ url_for('users.logoutPage') }}">Logout</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'users.accountPage' %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for('users.accountPage') }}">Account</a>
                        </li>
                      {% endif %}
                  </ul>
              </div>
        </div>
    </nav>
    <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}

            {% endblock content %}

    </div>
        <div class="row">
            <div class="container-fluid border-top" id="footer">
                <div class="row footer-links text-center mt-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 border-bottom bdrbottom pb-3">
                        <h6 class="text-center">Pages</h6>
                        <a class="text-light text-decoration-none mr-2" href="{{ url_for('main.homePage') }}">Articles</a>
                        <a class="text-light text-decoration-none mr-2" href="{{ url_for('main.aboutPage') }}">About</a>
                        <a class="text-light text-decoration-none mr-2" href="{{ url_for('routes.routesPage') }}">Routes</a>
                        <a class="text-light" href="">Links</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 border-bottom bdrbottom pb-3">
                        <div><h6 class="text-center">Social</h6></div>
                        <div class="d-flex justify-content-center">
                            <a href="" class="image-link-gs mr-4"><img src="{{ url_for('static', filename='icons/strava.png') }}" class="button-icon m-3"></a>
                            <a href="" class="image-link-gs mr-4"><img src="{{ url_for('static', filename='icons/RWGPS.png') }}" class="button-icon m-3"></a>
                            <a href="" class="image-link-gs"><img src="{{ url_for('static', filename='icons/small_instagram.png') }}" class="button-icon m-3"></a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-12 p-3">
                        <p class="footer-text text-center copyright"><small>© Copyright Bad Ideas on Bikes - 2020</small></p>
                    </div>
                </div>
            </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </div>
    </body>
</html>