{% extends "BASE.html" %}
    {% block content %}
    <div class="row py-3">
        <div class="col" id="main">
            {% for post in posts.items %}
            <div class="card mb-3">
              <img src="{{ url_for('static', filename='post_pics/' + post.post_image) }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.leader }}</p>
                  <a href="{{ url_for('posts.postPage', post_id = post.id) }}" class="btn btn-dark">Read More</a>
                  <p class="card-text"><small class="text-muted">by <a href="{{ url_for('users.userpostPage', username=post.author.username) }}">{{ post.author.username }}</a></small></p>
              </div>
            </div>
            {% endfor %}
            <hr>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {% if not posts.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for('main.homePage', page=1) }}">First</a></li>
                        <li class="page-item {% if not posts.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for('main.homePage', page=posts.prev_num) }}">Previous</a></li>
                        {% for page_num in posts.iter_pages() %}
                            {% if page_num %}
                                <li class="page-item {% if posts.page == page_num %}active{% endif %}"><a class="page-link" href="{{ url_for('main.homePage', page=page_num) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not posts.has_next %}disabled{% endif %}"><a class="page-link" href="{{ url_for('main.homePage', page=posts.next_num) }}">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-4 order-2 px-5 border-left d-none d-lg-block pb-3" id="sticky-sidebar">
            <div class="sticky-top">
                <h5>My name is Joe and I’m obsessed with riding bikes</h5>
                <hr>
                <p>Bad Ideas on Bikes is very poorly named. It should be called excellent ideas on bikes because riding bikes is excellent and riding bikes stupidly far and up stupidly high or steep hills is excellent… to me. To everyone else it sounds terrible.</p>
                <p>I made this site to share my passion. I want to share some of my favorite rides and routes and maybe even impart knowledge? Maybe that’s taking it too far!</p>
                <p>I hope you enjoy reading some of the content here and it gives you a good (or bad!) idea for your next two wheeled adventure.</p>
                <p>I’d love to hear from you!</p>
                <p>dummy@email.com</p>
            </div>
        </div>
    </div>

    {% endblock content %}