{% extends "BASE.html" %}
    {% block content %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url_for('reviews.reviewPage') }}" class="btn btn-block btn-dark mb-2">All</a>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#bikesDropdown" aria-expanded="false" aria-controls="collapseExample">
                Bikes
            </button>
            <div class="collapse mb-1" id="bikesDropdown">
                <div class="border p-2">
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Bike - full build') }}">Full Builds</a></p>
                    <p class="mb-0"><a href="{{ url_for('reviews.reviewtypePage', review_type='Bike - frame and fork') }}">Frames and Forks</a></p>
                </div>
            </div>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#componentsDropdown" aria-expanded="false" aria-controls="collapseExample">
                Components
            </button>
            <div class="collapse mb-1" id="componentsDropdown">
                <div class="border p-2">
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - drivetrain') }}">Drivetrain</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - wheels') }}">Wheels</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - tyres') }}">Tyres</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - brakes') }}">Brakes and Pads</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - saddles') }}">Saddles</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - Pedals') }}">Pedals</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Components - bars, stems and posts') }}">Bars, Stems and Seatposts</a></p>
                    <p class="mb-0"><a href="Components - other">Other</a></p>
                </div>
            </div>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#accessoriesDropdown" aria-expanded="false" aria-controls="collapseExample">
                Accessories
            </button>
            <div class="collapse mb-1" id="accessoriesDropdown">
                <div class="border p-2">
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Accessories - GPS & Computers') }}">GPS & Computer</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Accessories - Power Meters') }}">Power Meters</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Accessories - Lights') }}">Lights</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Accessories - Trainers') }}">Trainers</a></p>
                    <p class="mb-0"><a href="{{ url_for('reviews.reviewtypePage', review_type='Accessories - Other') }}">Other</a></p>
                </div>
            </div>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#clothingDropdown" aria-expanded="false" aria-controls="collapseExample">
                Clothing
            </button>
            <div class="collapse mb-1" id="clothingDropdown">
                <div class="border p-2">
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Tops') }}">Tops</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Bottoms') }}">Bottoms</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Base') }}">Base layers</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Jackets') }}">Jackets</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Shoes') }}">Shoes</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Helmets') }}">Helmets</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Glasses') }}">Glasses</a></p>
                    <p class="mb-0"><a href="{{ url_for('reviews.reviewtypePage', review_type='Clothing - Other') }}">Other</a></p>
                </div>
            </div>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#workshopDropdown" aria-expanded="false" aria-controls="collapseExample">
                Workshop
            </button>
            <div class="collapse mb-1" id="workshopDropdown">
                <div class="border p-2">
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Workshop - Tools') }}">Tools</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Workshop - Cleaning') }}">Cleaning</a></p>
                    <p><a href="{{ url_for('reviews.reviewtypePage', review_type='Workshop - Lubricant') }}">Lubricant</a></p>
                    <p class="mb-0"><a href="{{ url_for('reviews.reviewtypePage', review_type='Workshop - Other') }}">Other</a></p>
                </div>
            </div>
            <button class="btn btn-block btn-dark mb-2" type="button" data-toggle="collapse" data-target="#otherDropdown" aria-expanded="false" aria-controls="collapseExample">
                Other
            </button>
            <div class="collapse mb-1" id="otherDropdown">
                <div class="border p-2">
                    <p class="mb-0"><a href="#">Other</a></p>
                </div>
            </div>
        </div>
        {% if not reviews.items %}
        <div class="col-md-8">
            <h2>No Reviews Yet!</h2>
            <p>If You'd like to get in touch about a product please contact me here...</p>
        </div>
        {% endif %}
        <div class="col-md-4">
            {% for review in reviews.items %}
            {% if loop.index % 2 != 0 %}
            <div class="card mb-3">
                <a href="{{ url_for('posts.postPage', post_id=review.id) }}"><img class="card-img-top" src="{{ url_for('static', filename='post_pics/' + review.post_image) }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ review.reviews.title }}</h5>
                    <p class="card-text">{{ review.leader }}</p>
                </div>
                <div class="card-body">
                    <a href="{{ url_for('posts.postPage', post_id=review.id) }}" class="btn btn-dark">Read More</a>
                    <h4 class="review-price">£{{ "{:.2f}".format(review.reviews.rrp) }} </h4>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% for review in reviews.items %}
            {% if loop.index % 2 == 0 %}
            <div class="card mb-3">
                <a href="{{ url_for('posts.postPage', post_id=review.id) }}"><img class="card-img-top" src="{{ url_for('static', filename='post_pics/' + review.post_image) }}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ review.reviews.title }}</h5>
                    <p class="card-text">{{ review.leader }}</p>
                </div>
                <div class="card-body">
                    <a href="{{ url_for('posts.postPage', post_id=review.id) }}" class="btn btn-dark">Read More</a>
                    <h4 class="review-price">£{{ "{:.2f}".format(review.reviews.rrp) }} </h4>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if not reviews.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for('reviews.reviewPage', page=1) }}">First</a></li>
                <li class="page-item {% if not reviews.has_prev %}disabled{% endif %}"><a class="page-link" href="{{ url_for('reviews.reviewPage', page=reviews.prev_num) }}">Previous</a></li>
                {% for page_num in reviews.iter_pages() %}
                {% if page_num %}
                <li class="page-item {% if reviews.page == page_num %}active{% endif %}"><a class="page-link" href="{{ url_for('reviews.reviewPage', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
                <li class="page-item {% if not reviews.has_next %}disabled{% endif %}"><a class="page-link" href="{{ url_for('reviews.reviewPage', page=reviews.next_num) }}">Next</a></li>
            </ul>
        </nav>
    </div>
    {% endblock %}
