{% extends "BASE.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Region</th>
                        <th scope="col">Start</th>
                        <th scope="col">Length</th>
                        <th scope="col">Ascent</th>
                        <th scope="col">Scenery</th>
                        <th scope="col">Brutality</th>
                        <th scope="col">Quietness</th>
                    </tr>
                </thead>
                <tbody>
                {% for route in my_routes %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('posts.postPage', post_id=route.post) }}">{{ route.title }}</a></th>
                        <td>{{ route.region }}</td>
                        <td>{{ route.starting_location }}</td>
                        <td>{{ route.length }} km</td>
                        <td>{{ route.ascent }} m</td>
                        <td>{{ route.scenery }}</td>
                        <td>{{ route.brutality }}</td>
                        <td>{{ route.quietness }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}